*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  /* Remove underline from links */
  a {
    display: flex;
    text-decoration: none;
  }


